@page
@model TheModernIlluminati.Pages.AboutUsModel
@{
}

<div class="container-fluid">
    <h1 style="font-family: fantasy; text-align:center; font-size: 50px; color: #45A29E">Search Nobel Prize Winners</h1>
</div>
<hr class="bg-white" />
<h2>Nobel Prizes</h2>
<div class="row featurette">
    <div class="col-md-5">
        <h2 class="featurette-heading"> are Awarded for<span class="text-muted"> the greatest benefit to mankind</span></h2>
        <p class="lead">
            Nobel Prize, any of the prizes (five in number until 1969, when a sixth was added) that are awarded annually 
            from a fund bequeathed for that purpose by the Swedish inventor and industrialist Alfred Nobel. The Nobel 
            Prizes are widely regarded as the most prestigious awards given for intellectual achievement in the world.</p>
        <p>
            In the will he drafted in 1895, Nobel instructed that most 
            of his fortune be set aside as a fund for the awarding of five annual prizes “to those who, during the preceding year, 
            shall have conferred the greatest benefit on mankind.”
            <h5>Categories</h5>
            <ul>
                <li>Physics</li>
                <li>Chemistry</li>
                <li>Literature</li>
                <li>Medicine</li>
                <li>Peace</li>
                <li>Economic Sciences</li>
            </ul>
        </p>
    </div>
    <div class="col-md-7">
        <img class="featurette-image img-fluid mx-auto align-self-auto" alt="Noble prize medal" src="~/images/MicrosoftTeams-image (10).png" style="width: 100%;">
    </div>
</div>
<hr class="bg-white" />

<div class="container-fluid">
    <h1 style="font-family: fantasy; text-align:center; font-size: 50px; color: #45A29E">How To</h1>
</div>
<hr class="bg-white" />
<div class="container container-fluid row align-content-center">
    <img class="align-content-center" src="~/images/Country.png" alt="Country" />
</div>
<div style="display:inline-block; padding-top: 20px" class="container container-fluid row align-content-center">
    <p style="font-family: 'Times New Roman'; font-size: 20px; text-align: center;">
        <strong>
            You can check the country codes by
            clicking the "Country" tab in the Top Ribbon.
        </strong>
    </p>
</div>
<hr class="bg-white" />

<div class="container container-fluid row align-content-center">
    <img class="align-content-center" src="~/images/Laureates.png" alt="Laureates" />
</div>
<div style="display:inline-block; padding-top: 20px" class="container container-fluid row align-content-center">
    <p style="font-family: 'Times New Roman'; font-size: 20px; text-align: center;">
        <strong>
            You can check the list of Nobel Laureates by
            clicking the "Laureates" tab in Top Ribbon.
        </strong>
    </p>
</div>

<hr class="bg-white" />
<div class="row">
    <div class="col-lg">
        <img src="~/images/Search.png" alt="Search" />
    </div>
    <div style="display:inline-block; padding-top: 20px" class="container container-fluid row align-content-center">
        <p style="font-family: 'Times New Roman'; font-size: 20px; text-align: center;">
            <strong>
                Search for Nobel Prize Winners by clicking
                the Search tab in the Top Ribbon.
            </strong>
        </p>
    </div>
</div>
<hr class="bg-white" />
<div class="row">
    <div class="col-lg">
        <img src="~/images/Brewery.png" alt="start" />
    </div>
    <div style="display:inline-block; padding-top: 20px" class="container container-fluid row align-content-center">
        <p style="font-family: 'Times New Roman'; font-size: 20px; text-align: center;">
            <strong>
                Check out the breweries in Cincinnati by clicking
                on the Breweries tab in the Top Ribbon.
            </strong>
        </p>
    </div>
</div>
<hr class="bg-white" />
<div class="row">
    <hr class="bg-white" />
    <div class="col-lg">
        <img src="~/images/Output.png" alt="start" />
    </div>
    <div style="display:inline-block; padding-top: 20px" class="container container-fluid row align-content-center">
        <p style="font-family: 'Times New Roman'; font-size: 20px; text-align: center;">
            <strong>
                Check out and integrate the JSON Stream from our application into yours by clicking the JSON Output tab in the Top Ribbon.
            </strong>
        </p>
    </div>
</div>
<hr class="bg-white" />
