@page
@model TheModernIlluminati.Pages.ApiJSONOutputModel
@{
    ViewData["Title"] = "ApiJSONOutput";
}

<div class="container-fluid">
    <h1 style="font-family: fantasy; text-align:center; font-size: 50px; color: #45A29E">JSON Output</h1>
</div>

<hr class="bg-white" />


<div class="container-fluid">
    <p style="font-family: 'Times New Roman'; text-align:center; font-size: 30px">Provide 2-3 character Country code from the Countries list and get a JSON 
    stream of Nobel Laureates from that Country.</p>
</div>

<div class="container-fluid">
    <p style="font-family: 'Times New Roman'; text-align:center; font-size: 30px">You can use this URL to get a JSON Stream of 
    <a asp-page="/ExposeApi" asp-route-country="IN">Nobel laureates from India</a></p>
</div>