@page
@model TheModernIlluminati.Pages.BreweryModel
@{
    var MyBreweryAPI = (QuickType.Welcome[])ViewData["MyBreweryAPI"];
}

<div class="container-fluid">
    <h1 style="font-family: fantasy; text-align:center; font-size: 50px; color: #45A29E">Breweries of Cincinnati</h1>
</div>
<hr class="bg-white" />
<div>
    <table class="table table-striped table-light">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Brewery Type</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>

            @{ foreach (QuickType.Welcome welcome in MyBreweryAPI)
                {
                    <tr>
                        <td>@welcome.Name</td>
                        <td>@welcome.BreweryType</td>
                        <td>@welcome.Phone</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>



