@page
@model TheModernIlluminati.Pages.CountryModel
@{
    ViewData["Title"] = "Country";
    List<TheModernIlluminati.Models.Count>
    random1 = (List<TheModernIlluminati.Models.Count>
        )ViewData["Countries"];

    <div class="jumbotron text-center">
        <h2 class = "text-dark" >List of Countries with Nobel Laureates </h2>
        <p class="p-3 mb-2 bg-secondary text-white">Some text here!</p>
        <img class="img-fluid , border-dark " src="~/images/MicrosoftTeams-image (12).png"  >
    </div>
    <div>
        <table class="table table-striped table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Country Code</th>
                    <th>Country Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (TheModernIlluminati.Models.Count coun in random1)
                    {
                        <tr>
                            <td>@coun.Code</td>
                            <td>@coun.Name</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

