@page
@model TheModernIlluminati.Pages.CountryModel
@{
    ViewData["Title"] = "Country" ;
    List<TheModernIlluminati.Models.Count>
       countries = (List<TheModernIlluminati.Models.Count>)ViewData["Countries"];

    <div class="container-fluid">
        <h1 style="font-family: fantasy; text-align:center; font-size: 50px; color: #45A29E">List of Countries with Nobel Laureates</h1>
    </div>
    <hr class="bg-white" />
    <div class="jumbotron text-center">
        <img class="img-fluid , border-dark " src="~/images/MicrosoftTeams-image (12).png">
    </div>
    <div>
        <table class="table table-striped table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Country Code</th>
                    <th>Country Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (TheModernIlluminati.Models.Count country in countries)
                    {
                        <tr>
                            <td>@country.Code</td>
                            <td>@country.Name</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

