@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var countries = (QuickType.Country[]) ViewData["Country"];
    List<QuickType.Count> random1 = (List<QuickType.Count>)ViewData["Countries"];

}

<div class="text-center">
    <h1 class="display-4">Country</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Code</th>
        </tr>
        @{
            foreach (QuickType.Count coun in random1)
            {
                <tr>
                    <td>@coun.Name</td>
                    <td>@coun.Code</td>

                </tr>
 }
        }
    </table>
</div>
